head 
  link(rel="shortcut icon", href="favicon.ico")
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Netflixer
  link(rel='stylesheet', href='/static/stylesheets/bootstrap.min.css', type='text/css')
  link(rel='stylesheet', href='/static/stylesheets/animate.min.css', type='text/css')
  link(rel='stylesheet', href='/static/stylesheets/style.css', type='text/css')
  link(rel='stylesheet', href='/static/javascripts/bootstrap.min.js', type='text/javascript')
  
